doctype html
html
    head
        title systech
        link(rel="stylesheet", href="stylesheets.css")
        script(src="parse_hack.js")
    body
        each val in db_array
            .docs-wrap
                .docs-wrap__header
                    .docs-wrap__date!= val.date
                    .docs-wrap__quantity!="Документов: " + val.docsQuantity + "(" + val.totalPrice + ")"
                .docs-wrap__doc
                    .item_content!= val.docType
                    .item_content!= val.id
                    .item_content!= val.docPrice
                .docs-wrap__products
                    img(src=val.image, alt="").prod-image
                    //- img.item_content
                    .item_content!= val.price
                    .item_content!= val.prodName
                    .item_content!= val.quantity
                    .item_content!= val.removed